<html>
    <head>
        <title>Write Better</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="page-title">
                Write Better <small>Get suggestions about your writing</small>
            </h1>
            <p>This is an application which allows you to check your writing against common pitfalls.</p>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>
</html>
